/*RESET*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}
/*fim do reset*/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px ;
    background-color: #DCDCDC;
}


.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000080;
}
.logo{
    height: 96px;
    /*background-color: lightgray;*/
    width: 96px;
    background-image: url(./img.png/J_\(1\).png);
    background-size: contain;
    background-repeat:no-repeat;
}



main{
    flex-grow: 1;
    display: flex;
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h1{
    font-size: 96px;
    color: 	#000080;
}
.conteudo p{
    width: 80%;
    font-size: 40px;
}

.acao button{
    height: 100px;
    width: 400px;
    background-color: 	#000080;
    color: white;
    font-size: 32px;
}
.social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 96px;
    width: 96px;  
    border-radius: 50%;
    /*background-image: url(./img.png/178957-800-auto.webp);
    background-size: contain;
    background-repeat:no-repeat;*/
}
.joma1{
    background-image: url(./img.png/178957-800-auto.webp);
    background-size: contain;
    background-repeat:no-repeat;
}
.joma2{
    background-image: url(./img.png/chuteira-joma-top-flex-rebound-6634030baecaf.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.joma3{
    background-image: url(./img.png/IMG_7601.jpg);
    background-size: contain;
    background-repeat:no-repeat;
}
.destaque{
    width:  50%;
    height: 80%;
    background-image: url(./img.png/_vyr_422163_TORW2402IN-Panske-salove-kopacky-Joma-Top-Flex-Rebound-2402-IN-bile2-Eshop-fmko-cz.webp);
    background-size: contain;
    background-repeat:no-repeat;
}


footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

